body {
    background-color: rgba(187, 186, 186, 0.849);
    font-size: 25px;
}

.content {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 100px 400px 50px;
    grid-gap: 5px;
    grid-template-areas: 
    "hd hd hd hd hd"
    "sd sd main main main "
    "ft ft ft ft ft ";
    border: 2px solid white ;
    width: 100%;
    height:600px ;
    
}
.box{
    width:;
    height:;
    padding: 10px;
    border: 1px solid rgb(8, 8, 8);
    background-color: white;
    color: white ;
    
}

.one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: hd;
    background-color: rgb(120, 201, 238);
    padding: 50px;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    
}
.two{
    grid-area: sd;
    background-color: rgb(130, 132, 134);
    padding: 45px;
    
}
.three{
    grid-area: main;
    color: black;
    text-align: center;
    padding: 45px;
}
.four{
    grid-area: ft;
    background-color: rgb(120, 201, 238);
    padding: 45px;
    
}
@media (min-width: 320px){
    .content {
      display: grid;
      grid-template-areas: 
      "hd hd hd"
      "sd main main"
      "ft ft ft" ;
    }
}
  
@media (min-width: 600px) and (max-width:900px) {
    .content {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 200px 400px 50px;
        grid-template-areas:
        "hd hd hd hd hd"
        "sd sd main main main "
        "ft ft ft ft ft " ;
    }
}
  
  
  @media (max-width:901px) {
    .content {
        display: grid;
        grid-template-areas: 
        "hd hd hd hd hd hd hd"
        "sd sd sd main main main main"
        "ft ft ft ft ft ft ft ft" ;
    }
  }